[Unit]
Description=Kube REST Gateway Service
After=network.target

[Service]
# Replace 'ubuntu' with your actual username
User=andre
Group=andre

# Replace with the actual path to your project folder
WorkingDirectory=/home/andre/kube-rest-gateway

# Path to the compiled Go binary
ExecStart=/home/andre/kube-rest-gateway/kube-rest-gateway

# Restart the service automatically if it crashes
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
